<!--  comment out the commented line, and comment existing line  -->

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-4 g-3">
    <div *ngFor="let newsItem of newsData" class="col">
      <div
        class="card h-100 shadow-sm bg-body rounded"
        (click)="getNewsById(newsItem.id)"
      >
        <img
          *ngIf="newsItem.img"
          [src]="newsItem.img"
          class="card-img-top"
          alt="{{ newsItem.title }}"
        />

        <div class="card-body">
          <div class="font-weight-bold truncate-text pt-1">
            <h5 class="card-title bol fs-6 ">{{ newsItem.title | titlecase }}</h5>
          </div>
          <div class="card-footer">
            <a
              type="submit"
              (click)="getNewsById(newsItem.id)"
              class="btn w-100 view-btn"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







  <!-- Mehedi -->
  <!-- <div class="container">
    <div class="what-is-up">
  
      <div class="spinny-cogs">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <i class="fa fa-5x fa-cog fa-spin" aria-hidden="true"></i>
        <i class="fa fa-3x fa-cog" aria-hidden="true"></i>
      </div>
      <h1 class="maintenance">Under Maintenance</h1>
      <h2>Our developers are hard at work updating your system. Please wait while we do this. We have also made the spinning cogs to distract you.</h2>
    </div>
  </div> -->