<div class="mt-3">
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="assets/photo/service/wetechhub-Contact-Center.png" alt="we tech hub call center's employee image"/>
      </figure>
      <div class="article-body">
        <h2>Contact Center</h2>
        <p>
          Enhance customer engagement with multilingual support, tailored to
          client needs and brand value.</p>
        <a [routerLink]="'/contact-center'" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="assets/photo/service/wetechhub-Back-Office.png" alt="we tech hub back office service image" />
      </figure>
      <div class="article-body">
        <h2>Back-Office</h2>
        <p>
          We streamline operations, improve efficiency, and reduce costs with accurate and timely services        </p>
        <a [routerLink]="'/back-office'" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="assets/photo/service/wetechhub_Digital-Marketing.png" alt="we tech hub digital marketing service image" />
      </figure>
      <div class="article-body">
        <h2>Digital Marketing</h2>
        <p>
          Boost business growth with targeted campaigns, expert execution, and a money-back guarantee        </p>
        <a [routerLink]="'/digital-marketing'" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>
<section class="articles mt-5">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="assets/photo/service/wetechhub_Creative Design.png" alt="we tech hub creative design service image" />
        
      </figure>
      <div class="article-body">
        <h2>Creative Design Services</h2>
        <p>
          Deliver tailored, innovative designs with post-production support, prioritizing client satisfaction        </p>
        <a [routerLink]="'/creative-design'" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="assets/photo/service/wetechhub_Application Design & Development.png" alt="we tech hub Application Design & Development service image" />

      </figure>
      <div class="article-body">
        <h2>Application Design & Development</h2>
        <p>
          We develop static and dynamic mobile and web applications with unique designs and error-free development        </p>
        <a [routerLink]="'/app-design-development'" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="assets/photo/service/wetechhub_Skills Development.png" alt="we tech hub Application Design & Development service image" />
      </figure>
      <div class="article-body">
        <h2>Skills Development</h2>
        <p>
          We offer advanced IT and technical training, recognized by government programs, to meet job market demands        </p>
        <a [routerLink]="'/skills-development'" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>
<section class="articles mt-5">
  
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="assets/photo/service/wetechhub_Finance & Accounting.png" alt="we tech hub Application Design & Development service image" />

      </figure>
      <div class="article-body">
        <h2>Finance & Accounting Outsourcing</h2>
        <p>
          We Tech Hub imparts world-class skills development training ranging from basic to advanced IT training and technical training to clients in the public and private sectors in different areas of the country        </p>
        <a [routerLink]="'/finance-And-Accounting'" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
 
</section>
</div>